@media (width <=768px) { 
    .section__booking {
        backdrop-filter: none;
        background-color: #fff;
        box-shadow: none;
    }

    .ticket__booking {
        border: 0px #000 solid;
        border-radius: 0px;
        padding: 16px;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        box-shadow: 0px transparent;
        flex-direction: column-reverse;
    }

    .ticket__booking div {
        padding: 5px;
    }
    
    .container__qrcode {
        border: none;
        margin: 0 auto;
        background-color: transparents;
        backdrop-filter: none;
        width: fit-content;
    }

    .container__qrcode div img {
        background-color: #fff;
        padding: 10px;
        border-radius: 16px;
    }

    .header__ticket, .location__ticket {
        text-align: center;
        margin: 5px auto;
    }

    h5, p {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    .infos__ticket {
        font-size: 15px;
        flex-direction: column;
    }

    .item-1 {
        order: 2;
    }

    .item-2 {
        order: 3;
    }

    .item-3 {
        order: 1;
    }

    .item-4 {
        order: 4;
    }

    .footer__ticket {
        position: absolute;
        left: 0;
        padding: 0px;
        border-top: 1px dashed #ccc;
        border-bottom: 1px dashed #ccc;
        display: block;
        bottom: -1.5rem;  
    }

    .footer__ticket .marquee {
        background-color: #fff;
        padding: 0px ;
    }
}
