@media (width <= 768px) {
    .footer {
        height: auto;
        max-height: 100%;
        justify-content: center;
            align-items: center;
            gap: 10px;
        position: static;
        text-align: center;
        justify-content: center;
    }

    .footer__links {
        display: none;
    }

    .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .logo__footer {
        padding: 10px 0px;
    }

    .nav__footer {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
    }

    .link__footer {
        padding: 0;
    }

    .active {
        scale: 1.1;
        padding: 2.5px 10px;
    }

    .redes__footer {
        margin-bottom: 1rem;
        justify-content: center;
    }
}