@media (width <= 768px) {
    .form__container {
        display: flex;
        flex-direction: column;
    }

    .container__header {
        height: 80svh;
        justify-content: start;
        margin-bottom: 5rem;
    }

    .titles {
        margin-top: 5rem;
    }

    .titles h1 {
        font-size: 2rem;
    }


    .container__bg__form {
        bottom: -5rem;
        padding: 2rem;
    }

    .btn__date, input, .btn__submit {
        width: 250px;
    }

    .group__input {
        margin-bottom: 1rem;
    }

    .btn__submit {
         justify-content: center;
    }
    
    .container__bg__form {
        display: none;
    }

    .banner__home {
        margin: 15svh 1rem 1rem 1rem;
        font-size: 20px;
        height: 15svh;
    }

    .text__section {
        text-align: center;
        justify-content: center;
        font-size: 1.5rem;
    }
}