@media (width <= 768px) {
    .container__place{
        margin-bottom: 0;
        height: 15svh;
    }

     .container__infos {
        padding: 14px;
     }

     .form__place {
        position: static;
     }


    .column__check {
        justify-content: start;
    }

    .description {
        padding: 0px;
    }
    
    .alert__booking {
        margin: 0 auto;
    }
}