name: Merge branch from Jira

on:
  repository_dispatch:
    types: [merge-branch]

permissions:
  contents: write
  pull-requests: write

jobs:
  merge_branch:
    runs-on: ubuntu-latest

    steps:
      - name: Get branch info from payload
        id: info
        run: |
          echo "SOURCE_BRANCH=${{ github.event.client_payload.sourceBranch }}" >> $GITHUB_ENV
          echo "TARGET_BRANCH=${{ github.event.client_payload.targetBranch }}" >> $GITHUB_ENV

      - name: Debug
        run: |
          echo "Source: $SOURCE_BRANCH"
          echo "Target: $TARGET_BRANCH"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

      - name: Fetch all branches
        run: git fetch --all

      - name: Checkout target branch (base)
        run: git checkout $TARGET_BRANCH

      - name: Merge source branch into target
        run: |
          echo "Realizando merge da branch: $SOURCE_BRANCH"
          git merge origin/$SOURCE_BRANCH --no-ff --no-edit

      - name: Push merge
        run: git push origin $TARGET_BRANCH
